@font-face {
    font-family: 'Indian Poker'; /* A name you choose to reference this font later */
    src: url('C:\Users\risha\Downloads\IndianPoker-AR3L.ttf') format('ttf');
    font-weight: normal; 
    font-style: normal; 
}

h1{
    font-family: Indian Poker;
    font-size:75px ;
    color:#080808 ;
    text-align:center ;
    margin: top 10px;
    margin: bottom 25px;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 1px;
    padding: 10px;
}
.section .text{
    flex: 1;
    text-align: center;
}
.section .pic img {
    max-width: 100%;
    height: auto;
    display:block;
}
@media (max-width: 1080px) {
    .section {
        flex-direction: column;
        text-align: center;
    }
}
h2 {
    font-family: Indian Poker;
    font-size:size 50px ;
    color:#080808 ;
    text-align:center ;
    margin: top 10px;
    margin: bottom 25px;
}

.self {
    display: flex;
    align-items: center;
    gap: 20px;
}

h4 {
    text-align: center;
    font-size: 45px;
    background-color: #fabf7b;
    border: 5px #000;
}

#rn07 {
    background-color: #fabf7b;
    padding: 15px;
    border: 1px solid #5e0000;
    text-align:center ;
    font-family: Indian Poker;
    font-size: 20px ;
}

#signature {
    background-color: #fabf7b;
    padding: 15px;
    border: 1px solid #5e0000;
    text-align:center ;
    font-weight: bold;
    font-style: italic;
}

.self img {
    max-width: 100%;
    width: 250px;
    height: auto ;
    padding: 20px;
    margin: 10px 10px;
}

.IntroP {
    font-weight: bold;
    color: #78042e;
    text-align:center ;
}
h3 {
    font-family: Indian Poker;
    font-size: 15px ;
    color:#080808 ;
    text-align:center ;
    margin: top 25px;
    margin: bottom 25px;
    text-decoration-line: underline;
}
#MainP {
    background-color: #fabf7b;
    padding: 15px;
    border: 1px solid #5e0000;
    text-align:center ;
}
footer {
    background-color: #fabf7b;
    border: #000 solid 1px;
    padding: 15px;
    text-align:center ;
    margin-top: 1000px;
    font-family: Indian Poker;
    font-size: 20px;
}
body {
    background: linear-gradient(
        -45deg,
        #fabf7b,
        #ff6e69
    );
    background-size: 400% 400%;
    animation: gradient-flow 15s ease infinite;
    height: auto;
    width: auto;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


nav {
    margin-right: 15px;
    text-decoration: none;
    color: #444;
}

nav a {
    color:#5e0000;
    background-color: #fabf7b;
    border: 3px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    color: #000;
}

#searchBox {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

::placeholder{
    text-align: center;

}

.article-card {
    border-width: 1px;
    border-color: #000;
    border-style: double;
    background: #ffc47c;
    padding: 25px 200px ;
    color: #000;
    text-align: center;
    margin: 10px;
    text-shadow: 10px #000;
}

@media (max-width: 1440px) {
    .article-card {
        flex-direction: column;
        flex-direction: row;
    }
}


.article-card h2 {
    margin-bottom: 5px;
}

.article-card p {
    margin: 5px 0;
}

.article-card a {
    text-decoration: none;
    font-weight: bold;
    color: #5e0000;
}

.article-card a:hover {
    text-decoration: underline;
}


